<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件上传页面</title>
    <style type="text/css">
        form {
            /*        color: blue;
                    background-color: yellow;*/
            border: 1px solid black;
        }
        iframe {
            /*        color: blue;
                    background-color: yellow;*/
            border: 1px solid black;
        }
    </style>
</head>

<body>
<div class="content" bordel="1">
    <p>content</p>
</div><br>
<div class="work_main">
    <form id="form1" action="/upload" target="frame1" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" ><br>
        <input type="submit" value="上传" >
    </form><br>
</div>
</body>
</html>