<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>UET</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>

<body>
<div class="upload-container">
    <div class="upload-header">
        <h2>UET</h2>
    </div>
    <div class="single-upload">
        <h3>Upload Single File</h3>
        <form id="form1" action="/upload" method="POST" enctype="multipart/form-data">
            <input id="singleFileUploadInput" type="file" name="file" class="file-input" required/>
            <button type="submit" class="primary submit-btn">Submit</button>
        </form><br>
    </div>
    <div>
        <h3>download template file</h3>
        <form id="download" action="/downloadTemplate" method="get">
            <button type="submit">download</button>
        </form>
    </div>
</div>
</body>
</html>